body {
  background-image: url("./images/makloon_good_pic.jpg");
  background-color: rgb(230, 0, 230);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}
.title {
  text-align: center;
  width: 7%;
  display: flex;
  color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
  margin-left: 1.5em;
}
/*.malone{
    width: 800px;
    height:800px;
    top:50%;
    left:50%;
    transform: translate(-70%,-50%);
    position: absolute;
    
}*/
.top-bar {
  display: flex;
  align-items: center;
}

.malone-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.malone-header {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

.malone-socials {
  margin-top: 2%;
}


.social-buttons {
  background-color: transparent;
  border: none;
}
.social-images {
  height: 50px;
}
a {
  text-decoration: none;
}
.tabs{
  color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.tabs :hover {
color: #008C76FF;
}

.about-image {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 400px;
}
.description {
  display: flex;
  justify-content: center;
  height: 100px;
  align-content: center;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.song-description {
  font-family: 'Carrois Gothic SC', sans-serif;
}
.Songs{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    align-items: stretch;
}
/* .Songs img{
  width: 100%;
} */
.song_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.morph_orph{
    position: absolute;
    color: #FFF;

}
/*prepage stuff */

.pre-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.malone-song {
  display: flex;
  justify-content: center;
}
.links {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
}
/* stop */
.malone-video {
  display: flex;
  justify-content: center;
  background-color: black;
}
.bio {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin-left: 5%;
  margin-top: 10%;
  font-size: large;
}
.bottom {
  display: flex;
  justify-content: space-evenly;
}
.malone-picture {
  margin: 5%;
  margin-right: 5%;
  height: 450px;
}
.arrows { 
  display: flex;
  width: 100px;
  height: 100px;
}
.arrow-buttons {
  background: transparent;
  border: transparent;
  height: 100px;
  cursor: pointer;
}
.video-buttons {
  display: flex;
  align-items: center;
}
.arrow-buttons:focus {
  outline: none;
  box-shadow: none;
}
a.song_1:hover img{
    opacity: 0.5;
    transition: 0.5s;
}
.song_1 p{
    visibility: hidden;
}
.song_1:hover p{
    visibility: visible;
}
.song_2{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    flex-direction: column;
}
a.song_2:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.second_song{
    position: absolute;
    color: #FFF;

}
.song_2 p{
    visibility: hidden;
}
.song_2:hover p{
    visibility: visible;
}


.song_3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}
a.song_3:hover{
  opacity: 0.5;
  transition: 0.5s;
}
.third_song{
  position: absolute;
  color: #FFF;

}
.song_3 p{
  visibility: hidden;
}
.song_3:hover p{
  visibility: visible;
}
.song_4{
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  flex-direction: column;
}
a.song_4:hover{
  opacity: 0.5;
  transition: 0.5s;
}
.fourth_song{
  position: absolute;
  color: #FFF;

}
.song_4 p{
  visibility: hidden;
}
.song_4:hover p{
  visibility: visible;
}
.titlePhotos{
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
}
.tabsPhotos{
  color: white;
  font-family: 'Carrois Gothic SC', sans-serif;
  display: flex;
  font-size: 1em;
  justify-content: space-evenly;
}
.tabsPhotos1:hover{
  transform: scale(1.5);
  transition: 0.5s;
}
.tabsPhotos2:hover{
  transform: scale(1.5);
  transition: 0.5s;
}
.tabsPhotos3:hover{
  transform: scale(1.5);
  transition: 0.5s;
}
.tabsPhotos4:hover{
  transform: scale(1.5);
  transition: 0.5s;
}
.tabsPhotos.content {
  padding: 16px;

}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.tabsPhotos.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.tabsPhotos.sticky + .tabsPhotos.content {
  padding-top: 102px;
}
.gallery img{
  width:100%
}